@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&amp;subset=cyrillic-ext');

body{
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #444c63;
}
a{
    text-decoration: none;
    color: #FF4F57;
}
code{
    display: block;
    overflow-x: auto;
    padding: 15px;
    color: #333;
    background: #f8f8f8;
}
