@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700');

* {
  box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #444;
}
a{
    text-decoration: none;
    color: #FF4F57;
}
code{
    display: block;
    overflow-x: auto;
    padding: 15px;
    color: #333;
    background: #f8f8f8;
}
